patient-images-mobile-build.zip filter=lfs diff=lfs merge=lfs -text
artifacts/electron-app/release/Max7[[:space:]]Vista-1.1.1.AppImage filter=lfs diff=lfs merge=lfs -text
artifacts/electron-app/release/linux-unpacked/@workspaceelectron-app filter=lfs diff=lfs merge=lfs -text
